appdirs==1.4.4
asgiref==3.6.0
beautifulsoup4==4.12.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
Django==4.2
frozendict==2.3.7
html5lib==1.1
idna==3.4
lxml==4.9.2
multitasking==0.0.11
numpy==1.24.2
pandas==2.0.0
pycparser==2.21
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3
requests==2.28.2
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.15
webencodings==0.5.1
yfinance==0.2.18
whitenoise
python-dotenv
