{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" />
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %} 
            <input class="input-box" type="text" placeholder="Enter Username" name="username" required><br>
            <input class="input-box" type="password" placeholder="Enter Password" name="password" required><br>
            <input type="submit" value="Login" class="">
        </form>
        <div class="links">
            <a href="#">Don't have an account yet? Create one</a><br>
            <a href="#">Forgotten password?</a>
        </div>
    </div>
</body>
</html>