{% extends "header.html" %}

{% block content %}
<div class="page">
    
        <div class="side-bar-expand"><a id="toggler"><i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i></a></div>
            <div class="sidebar">
                <div class="strip"></div>
                <ul class="menu-side">
                    <a href="#" id="load-dash"><li class="menu-item"><i class="fa-sharp fa-solid fa-chart-simple" style="color: #ffffff;"></i></li></a>
                    <a href="#"><li class="menu-item"><i class="fa-solid fa-list-check" style="color: #ffffff;"></i></li></a>
                    <a href="#" id="load-chat"><li class="menu-item"><i class="fa-solid fa-comment" style="color: #ffffff;"></i> </li></a>
                    <a href="#"><li class="menu-item"><i class="fa-solid fa-gears" style="color: #ffffff;"></i> </li></a>
                    <a href="#"><div class="bottom-items">
                        <hr>
                        <a href="#"><li class="menu-item"><i class="fa-solid fa-user" style="color: #ffffff;"></i></li></a>
                        <a href="/logout"><li class="menu-item"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></li></a>
                    </div>     
                </ul>
            </div>
   
    <div class="main">
      
       <div class="dash-top">
        <div class="card">
          <h2>Welcome, {{ user.username }}</h2>
          <p><h1>Portfolio Performance</h1><small>(Last Month)</small></p>
          <h1 style="text-align: center; margin-top: 20px; color:#207537; font-size:3rem">+4%</h1>
        </div>

        <div class="card">
          <h3>Pinned <a href="#"><i class="fa-sharp fa-solid fa-pencil" style="color: #bdbdbd;"></i></a></h3>
          <div class="watch-item">
          {% for ticker, price in mylist %}
            <div style="margin-bottom: 20px; margin-left: 5%"><h1>{{ ticker}} <small>{{ price }}</small></h1></div>
          {% endfor %}
          </div>  
        </div>

        <div class="card testdiv">
          
          <form method="POST">
            {% csrf_token %}
            {{ editForm }}
            
           <input type="submit"></input>
          </form>
        </div>
       </div>

       <div class="dash-bottom">
        <div class="card"></div>
       </div>
    </div>
    <!-- Chat box-->
    

   
    <div class="chat">
      <form  method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="search">
      </form>
      
      <div class="all-messages">
       
        
        

          {% if result is None %}
            <div style="text-align: center;">No user found</div>
          {% else %}
          
            <a href="#" onclick="chat()">
              <div class="message">
                <div class="usr-pfp">
                  <img class="pfp" src="https://i.imgur.com/PxLz3cq.png" />
                </div>
                <div class="content">
                  <small>{{ result.username }}• 12:45PM</small>
                  <div class="msg-preview">Start the conversation...</div>
                </div>
              </div>
            </a>
          {% endif %}
          
        


      </div>
    </div>
    
</div> 

 

<!-- <script>
    clearInterval(runLong);
    
    var runLong = window.setInterval(function(){
        $(".watch-item ").load(location.href + " .watch-item", function(){

        });
    }, 1000);
</script> -->

<script>
$(document).ready(function(){

 $("#load-dash").click(function(){
  $(".page").load("/dashboard");
  
 });
});

</script>

<script>
  function chat(){
      $(document).ready(function(){
       var id1 = {{user.id}};
       var id2 = {{result.id}};

    $(".chat").load('/chat/' +Math.max(id1, id2)+'_'+Math.min(id1, id2));

});
  }
</script> 


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script>
        var prices = '{{ prices }}'
        
       
        console.log(prices)
          var options = {
        chart: {
          type: 'line'
        },
        series: [{
          name: 'Closing price',
          data: prices
        }],
        xaxis: {
          categories: ['Mon','Tue','Wed','Thur','Fri']
        }
      }
      
      var chart = new ApexCharts(document.querySelector("#chart"), options);
      
      chart.render();
      </script>


<script>
   
   
    
</script>

{% endblock %} 