{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing/css/style.css'%}" type="text/css"/>
    
    <title>Welcome | Algo</title>
</head>
<body>
    <nav>
        <img src="{% static 'landing/img/BEEP.svg'%}">
        <ul class="nav-right">
            <li><a href="/register">Signup</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div class="grid-container">
        <div class="main">
            <p>Trading <span>algorithms</span><br>written and tuned<br><span>by experts</span></p>
            <div class="action-buttons">
                <a href="#">Pricing</a>
                <a href="#" style="float:left; clear: left;">Trade with <br>us</a>
            </div>
        </div>
        <div class="main-right">
            <img src="{% static 'landing/img/BEEP.svg'%}">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('.main p').fadeIn(1000);
            $('.main a').fadeIn(1000);
            $('.main-right').fadeIn(3000);
        });
    </script>
</body>
</html>